@rendermode InteractiveServer
@page "/"
@using Raft

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="StartSimulation">Start Simulation</button>
<div>
<label>
    multiplier for how long the election timeout is: @electionMultiplier
        <input type="range" min="1" max="15" @onchange="ElectionTimerUpdated" />
</label>
</div>

<div>
<label>
    simulated send network delay: @networkSendDelay
        <input type="range" min="10" max="10000" @onchange="NetworkSendDelayUpdated" />
</label>
</div>

<div>
    <label>
        simulated respond network delay: @networkRespondDelay
        <input type="range" min="10" max="10000" @onchange="NetworkRespondDelayUpdated" />
    </label>
</div>

<div class="row">
    @foreach (var node in visualizationNodes)
    {
        var timeoutRemaining = node.innerNode.ElectionTimeout;
        var maxIntervalMilliseconds = 300.0 * electionMultiplier;
        var percentageRemaining = (int)(100 * (Math.Abs(timeoutRemaining) / maxIntervalMilliseconds));

        <div class="p-3 col-4">
            <div class="border p-3 rounded-3">
                <div class="d-flex justify-content-between">
                    <h3>
                        Node @node._id
                    </h3>
                </div>
                <div>
                    @node.State
                </div>
                <div>
                    Term @node.Term
                </div>
                <div>
                    Leader is @node.LeaderId
                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar bg-dark-subtle" role="progressbar"
                             style="width: @(percentageRemaining)%" aria-valuenow="@timeoutRemaining"
                             aria-valuemin="0" aria-valuemax="@maxIntervalMilliseconds">
                        </div>
                    </div>
                </div>
                <div>
                    Commit Index: @node.CommittedIndex
                </div>
                <div>
                    <label>
                        key
                        <input type="number" @bind="sendKey"/>
                    </label>
                    <label>
                        value
                        <input type="number" @bind="sendValue"/>
                    </label>
                    <button @onclick="() => SendCommand(node._id, sendKey, sendValue)"> send </button>
                </div>
                <div>
                    State:
                    @foreach (var state in node.StateMachine)
                    {
                        <div>
                            Key: @state.Key, Value: @state.Value
                        </div>
                    }
                </div>
                <div>
                    Logs: @foreach ((int term, int command) log in node.Log)
                    {
                        <div>
                            command: @log.command Term: @log.term
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


@code {
    private Timer? timer;
    bool isRunning;
    List<VisualizationNode>? visualizationNodes = [];
    int electionMultiplier = 1;
    int networkSendDelay = 0;
    int networkRespondDelay;
    int sendKey;
    int sendValue;

    public void SendCommand(int nodeId, int key, int value)
    {
        foreach (INode node in visualizationNodes)
        {
            if (node._id == nodeId)
            {
                node.CommandReceived(key);
            }
        }
    }

    public void ElectionTimerUpdated(ChangeEventArgs e)
    {
        electionMultiplier = Convert.ToInt32(e.Value);
        foreach (INode node in visualizationNodes)
        {
            node.electionMultiplier = electionMultiplier;
        }
    }

    public void NetworkSendDelayUpdated(ChangeEventArgs e)
    {
        networkSendDelay = Convert.ToInt32(e.Value);
        foreach (INode node in visualizationNodes)
        {
            node.networkSendDelay = networkSendDelay;
        }
    }

    public void NetworkRespondDelayUpdated(ChangeEventArgs e)
    {
        networkRespondDelay = Convert.ToInt32(e.Value);
        foreach (INode node in visualizationNodes)
        {
            node.networkRespondDelay = networkRespondDelay;
        }
    }

    public void StartSimulation()
    {
        var node1 = new Node(1);
        var node2 = new Node(2);
        var node3 = new Node(3);

        var simulation1 = new VisualizationNode(node1);
        var simulation2 = new VisualizationNode(node2);
        var simulation3 = new VisualizationNode(node3);

        node1.AddNode(simulation2);
        node1.AddNode(simulation3);
        node2.AddNode(simulation1);
        node2.AddNode(simulation3);
        node3.AddNode(simulation1);
        node3.AddNode(simulation2);

        visualizationNodes = [simulation1, simulation2, simulation3];

        node1.Start();
        node2.Start();
        node3.Start();

        StateHasChanged();
        timer = new Timer(_ =>
        {
            Console.WriteLine("here");
            InvokeAsync(StateHasChanged);
        }, null, 0, 200);
    }

    public void StopNodes()
    {
        foreach (INode node in visualizationNodes)
        {
            node.running = false;
        }
    }
}